service: btc-trading
provider:
  name: aws
  runtime: nodejs14.x
  region: ${opt.region}
  stage: $(opt.stage)
  versionFunctions: true
  logs:
    restApi: true
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - dynamodb:BatchGetItem
        - dynamodb:GetItem
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:BatchWriteItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - s3:ListBucket
        - s3:DeleteObject
        - s3:PutObject
        - s3:GetObject
        - s3:CreateBucket
        - sqs:SendMessage
        - sqs:GetQueueUrl
        - sqs:ListQueues
        - sqs:CreateQueue
        - ses:SendEmail
      Resource: "*"
  memorySize: 128
  deploymentBucket:
    name: ${self:custom.default.deploymentBucketName}
  deploymentPrefix: serverless/${self:service}/
  logRetentionInDays: ${self:custom.logRetentionInDays}
  environment:
    REGION_NAME: ${self:custom.default.region}
    STAGE: ${self:custom.default.stage}
    COINMARKETCAP_API_KEY: ${self:custom.default.coinmarket_cap_api_key}
    POLYGON_IO_AUTHORIZATION_KEY: ${self:custom.default.poylogon_io_authorization_key}
    POLYGON_BASE_URL: $(self:custom.default.polygon_base_url)
    COINGECKO_BASE_URL: $(self:custom.default.coingecko_base_url)
    COINMARKET_CAP_BASE_URL: $(self:custom.default.coinrmarketcap_base_url)
package:
  include:
    - app/**
    - handlers/**
    - config/**
    - '*.py'
  exclude:
    - ./**

functions:
  btc_trading_schedule: ${file(./resources/lambda/btc_trading_schedule.yml):btc_trading_schedule}

resources:
  Resources:
    # register queues here

custom:
  default: ${file(./config/config.${self:provider.stage}.yml):default}
  lambda: ${file(./config/config.${self:provider.stage}.yml):lambda}
  logRetentionInDays: ${file(./config/config.${self:provider.stage}.yml):logRetentionInDays}
  prune:
    automatic: true
    number: ${self:custom.lambda.maxVersions}
  pythonRequirements:
    dockerizePip: false
    slim: true

plugins:
  - serverless-s3-deploy