name: Github Pipeline
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code Pushed
        run: echo "Deployment made by ${{ github.actor }} on branch ${{ github.ref }}"
        continue-on-error: true
      - name: Source Code Link
        run: echo "Source code- ${{ github.event.repository.html_url }}/tree/${{ github.sha }}"
      - name: Install basic dependencies
        run: |
          echo "installing and updating basic dependencies"
          sudo apt install gcc python3-pip -y
      - name: installing pip setup tools
        run: |
          pip install --upgrade pip setuptools
          pip install -r requirements.tx
          
      - name: Install Node.js and npm
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - name: Install Serverless Framework
        run: npm install -g serverless@3.1.1
      - name: configure aws
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      - name: Deploy Lambda function
        run: |
          sls deploy --stage production
          

          
          
          
