name: Github master Pipeline
on:
  push:
    branches:
      - master
    workflow_dispatch:
      if: github.ref == 'refs/heads/master'

env:
  region: us-west-2
  stage: prod
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Code Pushed
        run: echo "Deployment made by ${{ github.actor }} on branch ${{ github.ref }}"
        continue-on-error: true
      - name: Source Code Link
        run: echo "Source code- ${{ github.event.repository.html_url }}/tree/${{ github.sha }}"
      - name: Install basic dependencies
        run: |
          echo "installing and updating basic dependencies"
          sudo apt install gcc python3-pip -y
      - name: installing pip setup tools
        run: |
          pip install --upgrade pip setuptools
          pip install -r requirements.txt

      - name: Install Node.js and npm
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - name: Install Serverless Framework
        run: |
          npm install -g serverless@3.1.1
          npm install -g --production
      - name: configure aws
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: configure sls
        run: sls config credentials --provider aws --key ${{ secrets.AWS_ACCESS_KEY_ID }} --secret ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Deploy Lambda function
        run: |
          sls deploy --stage prod --region us-west-2 
          

          
          
          
